@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-bg: #FFFFFF;
  --color-surface: #F6F8FA;

  --color-text-primary: #24292F;
  --color-text-secondary: #57606A;

  --color-border: #DBE1E7;
  --color-accent: #238636;
}


html[data-theme="dark"] {
  --color-bg: #010409;
  --color-surface: #0D1117;

  --color-text-primary: #e6edf3;
  --color-text-secondary: #8d96a0;

  --color-border: #30363d;
  --color-accent: #3fb950;
}


body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  transition: background-color 0.1s ease, color 0.1s ease;
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Inter", sans-serif;
}

li
{
  list-style: none;
}

a
{
  text-decoration: none;
  color: var(--color-text-primary);
}

.content
{
  margin: 80px 0 60px;
}

