@import url(reset.css);
@import url(general.css);
@import url(header.css);
@import url(sidebar.css);
@import url(index.css);
@import url(about.css);
@import url(projects.css);
@import url(contact.css);
@import url(footer.css);