<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="icon" type="images/png" href="{{ site.baseurl }}/assets/images/icon-meta-data.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>

  {% include header.html %}

    <main class="main">
      {% include sidebar.html %}
      <section class="content">
        {{ content }}
      </section>
    </main>

  {% include footer.html %}
  <script src="{{ site.baseurl }}/assets/js/toggleTheme.js"></script>
  <script src="{{ site.baseurl }}/assets/js/updateLinkColor.js"></script>
  <script src="{{ site.baseurl }}/assets/js/postsCarousel.js"></script>
  <script src="{{ site.baseurl }}/assets/js/progressBar.js"></script>
</body>
</html>
